<div class = 'container'>
   <h1 class='display-4'>All Products</h1>
   <br/><br/>
   <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Brand</th>
        <th scope='col'>Description</th>
        <th scope='col'>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td><a [routerLink]="['delete', product.name]"><img src='assets/delete.jpg' width='15' height='18'></a>&nbsp;&nbsp;
            <a [routerLink]="['edit', product.name]"> {{ product.name }} </a>
        </td>
        <td> {{ product.brand }} </td>
        <td> {{ product.description }} </td>
        <td> {{ product.price }} </td>
       </tr>
    </tbody>
  </table>
</div>
